@font-face {
  font-family: DigitalNumbers;
  src: url("./fonts/DigitalNumbers.ttf") format(truetype);
};
body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', serif;
}

#window {
  width: 900px;
  height: 550px;
  background: url("background.png") no-repeat center/cover;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease;
}

/* --- WINDOW CONTROLS (CSS Only) --- */
#top-bar {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 10px;
  z-index: 100;
  -webkit-app-region: drag;
}

.win-btn {
  -webkit-app-region: no-drag;
}

.win-btn {
  width: 22px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.win-btn:hover {
  transform: scale(1.1);
}
/* --- SCENE LAYOUT --- */
#scene {
  width: 100%;
  height: 100%;
  position: relative;
}

#timer-container {
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: block; 
  z-index: 5;
}

#timer {
    font-family: 'Digital Numbers', sans-serif; 
  font-size: 66px;
  color: #5a3b2e;
  letter-spacing: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

/* make timer look faded when paused*/
#timer.paused {
  opacity: 0.5;
}

#session-text {
  font-size: 20px;
  color: #5a3b2e;
  margin-top: 5px;
  font-style: italic;
}

/*HOTSPOTS*/

.hotspot, #deer {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  border-radius: 30%;
  

  background: transparent; 
}

#deer {
  bottom: 15%;
  left: 35%;
  width: 30%;
  height: 40%;
  cursor: default; /* Deer isn't a button, just decoration */
}

/* BIRD POSITION */
#bird {
  top: 15%;
  left: 20%;
  width: 9%;
  height: 12%;
}

/* RABBIT POSITION */
#rabbit {
  bottom: 2%;
  left: 14%;
  width: 11%;
  height: 18%;
}

/* ROSE POSITION */
#rose {
  bottom: 12%;
  right: 12%;
  width: 8%;
  height: 20%;
}

/* --- TOOLTIP --- */
.hotspot::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 6px;
  color: #5a3b2e;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.hotspot:hover::after {
  opacity: 1;
}